/storage/*.key
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.phpunit.result.cache
public/assets/css/test.css.map
public/assets/css/test.css
public/assets/scss/test.scss
resources/views/errors/500.blade.php
resources/views/errors/404.blade.php
public/assets/img/fkkq7rr1u7.png
public/assets/img/jpie56ufw5.png
public/assets/img/sgmnwmmrqz.png
public/assets/img/neif7pxjnz.png
