@import "bootstrap-variables";
@import "vars";

.white-row {
  background-color: transparent !important;
  border: none !important;
  padding: 4px !important;
  font-size: 130% !important;
  color: #333;
}

#totals {
  width: 100%;
  margin: 0 auto;
  background-color: $body-bg;
  border-bottom: 1px solid #333;

}
#bills_wrapper {
    .dataTables_info {
        font-weight: bold;
    }
    #bills {
        tbody {
            tr {
                td:before {
                    background-color: #b7282e;
                }
            }
        }
        td {
            padding: 3px;
        }
        .details {
            padding-left: 22px;
        }
    }
    .row {
        width: 99%;
    }
}
[name="bills_length"] {
    padding: 0;
}
#after-totals {
  margin-top: 156px;
}

table.tablesorter thead tr th.address {
  color: #333;
  padding: 4px;
  vertical-align: top;
  font-weight: normal;
}

#bill_searcher {
  background-color: $body-bg;
  width: 100%;
  border-bottom: 1px solid #333;
  height: 97px;
  z-index: 1000;
  table {
    margin-top: 6px;
    thead, tbody {
      tr {
        th:nth-of-type(1), td:nth-of-type(1) {
          padding: 0 2px;
        }
        th, td {
          padding: 0 29px;
        }
      }
    }
  }
}

table#allReservations {
  thead[id^="heading_"] {
    border-top: 1px solid $brand-danger;
    tr:nth-child(even) >th {
      background: #f7f7f7;
    }
  }
  tbody[id^="keeperData_"] {
    tr:nth-child(even) >td {
      background: #f7f7f7;
    }
  }
}
