@import "bootstrap-variables";
$wo: rgb(221, 66, 0);
$gu: rgb(144, 50, 198);

$res_color: $color-h1;
$res_color_back: rgba($color-h1, 0.5);
$menu_reserv_shadow: rgba($color-form-el, 0.75);


$firstDateBackGround: 'img/reservation/clickedFirstDate.png';
$lastDateBackGround: 'img/reservation/clickedLastDate.png';