@import "incl/bootstrap-variables";
@import "incl/vars";
@import "incl/mixins";
@media screen and (max-width: 425px) {
    #free_beds, #legend-container {
        height: auto !important;
        li {
            height: auto !important;
            z-index: 1000 !important;
            a {
                height: auto !important;
                padding-top: 10px !important;
                padding-bottom: 10px !important;
            }
        }
    }
}
@media screen and (max-width: 374px) {
    .input-group {
        display: block;
        .input-group-addon {
            width: 100% !important;
            display: inline-block;
            margin-left: 0px !important;
        }
    }
}
[id^="all_reservations_"] {
  border: 1px solid $brand-danger;
  padding: 23px;
    font-size: 16px;
}
#table_all_reservations {
    width: auto;
    thead, tbody {
        tr {
            th, td {
                font-size: 1.2em;
            }
        }
    }
}
#guestTable {
    border-left: 1px solid $brand-danger;
    border-top: 1px solid $brand-danger;
    thead {
        tr {
            display: block;
        }
    }
    tbody {
        display: block;
        overflow: auto;
        height: 110px;
        width: 100%;
    }
    thead, tbody {
        tr {
            th {
                border-bottom: 1px solid #333;
            }
            th, td {
                font-size: 1.0em;
                padding: 0.25em;
                border-right: 1px solid #33333336;
                border-bottom: 1px solid #33333336;
            }
            td:first-child {
                min-width: 28px;
            }
            th:nth-child(2) {
                max-width: 120px;
                min-width: 120px;
            }
            td:nth-child(2) {
                max-width: 120px;
                min-width: 120px;
            }
            td:nth-child(3) {
                min-width: 66px;
            }
            td:nth-child(4) {
                min-width: 97px;
            }
            th:nth-child(5) {
                min-width: 187px;
            }
            td:nth-child(5) {
                min-width: 187px;
            }
            th:nth-child(6) {
                min-width: 52px;
                text-align: right;
            }
            td:nth-child(6) {
                min-width: 52px;
                text-align: right;
            }
            td:nth-child(7) {
                min-width: 91px;
                text-align: right;
            }
            td:nth-child(8) {
                min-width: 66px;
            }
            td:nth-child(9) {
                min-width: 78px;
                border-right: none;
                text-align: right;
            }
            th:nth-child(9) {
                min-width: 78px;
                border-right: none;
            }
        }
    }
}
.show_total_res {
  border: .13333em solid #b7b7b7;
  border-radius: .13333em;
  padding: 2vh 0.36667em 0 0;
  margin-bottom: 0.5em;
  position: relative;
}

[id^="hide_guest_"], [id^="hide_res"] {
  display: inline;
  text-align: right;
  border: none;
  padding: 0 0.5em 0 0;
  margin: 0;
  height: 1em;
  vertical-align: sub;
  background-color: transparent;
  font-size: 2em;
  color: $brand-danger;
  cursor: pointer;
  &:hover, &:focus, &:active {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    color: $brand-danger;
  }
}
[id^="guests_date_"] {
  border: 1px solid #b7b7b7;
  margin-top: 2vh;
  position: relative;
}

.hide-guest {
  display: inline-block;
  position: absolute;
  top: -15px;
  left: 10px;
  height: 27px;
  padding: 0px 9px;
  margin: 1px;
  background-color: white;
  font-size: 1.1em;
  cursor: pointer;
  font-weight: bold;
  span {
    display: inline-block;
  }
}
