table.dataTable thead th.sorting_asc:before {
    background: url("http://cdn.datatables.net/1.10.0/images/sort_asc.png") no-repeat center left;
}
table.dataTable thead th.sorting_desc:before {
    background: url("http://cdn.datatables.net/1.10.0/images/sort_desc.png") no-repeat center left;
}
table.dataTable thead th.sorting:before {
    background: url("http://cdn.datatables.net/1.10.0/images/sort_both.png") no-repeat center left;
}
.dataTables_scrollHeadInner {
    table {
        thead {
            tr {
                th {
                    box-sizing: initial !important;
                }
            }
        }
    }
}
#users_wrapper {
    width: 80% !important;
}
#users {
    tbody {
        tr {
            td {
                vertical-align: middle;
                padding: 0 2px;
                &:before {
                    background-color: #b7282e;
                }
                &.control {
                    padding: 0 0.75em;
                    &:before {
                        height: 19px;
                        width: 19px;
                        margin-top: -13px;
                        margin-left: -16px;
                    }
                }
                &:first-child:before {
                    top: 3px;
                    left: 1px;
                }
                ul {
                    padding-left: 2px;
                }
                &.details {
                    min-width: 23px;
                }
            }
            &.odd {
                background-color: #cbcbcb;
            }
            &.child {
                ul.dtr-details {
                    list-style-type: disc;
                    width: 100%;
                    margin: 2px;
                    padding: 4px 22px;
                }
                td {
                    border-bottom: 1px solid #b7282e;
                }
            }
        }
    }
}
