@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);
@import "../../../public/libs/bootstrap/assets/stylesheets/bootstrap";
@import "incl/bootstrap-variables";
@import "incl/vars";
@import "incl/_fonts";
@import "incl/_mixins";
@import "incl/settings";
@import "incl/login_stats";
@import "incl/help";
@import "incl/errors";
@import "incl/bill";
@import "incl/posts";
@import "incl/form";
@import "incl/links";
@import "incl/navbar";
@import "stats";
#newsMessage {
  display: none;
}
#hideAll {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: -1px;
  z-index: 10;
  background-color: rgba(58, 58, 58, 0.5);
}
.topRow {
    border-bottom: 1px solid #b7282e;
    z-index: 1000;
    h1 {
        border-bottom: none;
    }
}
#pricelist {
    margin-top: 22px;
    thead, tbody {
        tr {
            th, td {
                border: 1px solid $brand-danger;
            }
        }
    }
}
.alert {
    form {
        display: inline;
    }
    position: fixed;
    width: 90%;
    margin: 0 5%;
    top: 77px;
    z-index: 10000;
    left: 0;
    border: navajowhite;
    border-radius: 0;
    font-size: 1.5em;
    button {
        height: inherit !important;
        border: none !important;
        span {
            font-size: 1.5em;
        }
    }
}
.modal-dialog {
    z-index: 1100;
}
.modal.in {
    display: block;
}
[role="dialog"] {
    .btn-dialog-left {
        height: inherit !important;
        float: left;
    }
    .btn-dialog-right {
        height: inherit !important;
        float: right;
    }
    .modal-title {
        font-weight: bold;
        color: #333;
        text-align: center;
    }
    .modal-title-warning {
        font-weight: bold;
        color: $brand-danger;
        text-align: center;
    }
    .modal-title-info {
        font-weight: bold;
        color: #333;
        text-align: center;
    }
    p {
        font-size: 1.35em;
    }
}
a {
  &:focus, &:active {
    outline: none;
    text-decoration: none;
  }
}
#welcome_room_app {
  text-align: center;
  padding: 1em;
  margin: 1em;
  color: $brand-primary;
  background-color: rgba($body-bg, 0.5);
}
.welcome-nav {
  a {
    background: #b7282e;
    border: 1px solid transparent;
    color: white;
    display: block;
    padding: 0.5em;
    margin: 0.25em;
    font-size: 1.5em;
    &:hover, &:active {
      text-decoration: none;
      border: 1px solid #b7282e;
      background: transparent;
      color: #b7282e;
    }
  }
}
h1 {
    border-bottom: 1px solid #b7282e;
    font-size: 3.5vh;
}
h1, h2, h3, h4, h5, h6 {
  color: #333;
    font-size: 3vh;
}
h5, h6 {
    font-size: 2vh;
  }
body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: $body-bg;
  color: #333;
}

iframe {
  border: none;
  background: #F7F3F3;
  width: 100%;
  max-height: 500px;
  height: 555px;
}

.small-show {
  display: none;
}

table.tablesorter, table.tablesorter thead tr th {
  background-color: #fff;
}

.table {
  /*background-color: transparent !important;*/
  color: #333;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: $body-bg-odd;
  color: #333;
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
  background-color: $body-bg-even;
  color: #333;
}

.table.tablesorter tbody td {
  color: #333;
  background-color: transparent;
}

@media screen and (max-width: 767px) {
  .table-responsive {
    border: none;
  }
}

@media (max-width: $screen-sm) {
  .raw-day {
    width: 25%;
  }
  .draw-month {
    border-right: none !important;
  }
  .reserv {
    border-bottom: none;
  }
  .calday {
    min-height: 120px;
  }
  .small-no-show {
    display: none;
  }
  .small-show {
    display: inline;
  }
  .kw {
    border-top: 1px solid rgba(119, 119, 119, 0.5);
    width: 25%;
  }
  .break {
    height: 23px;
  }
  .to-top {
    display: block;
    width: 64%;
    max-width: 103px;
    margin: 0.5em auto 0 auto;
    height: 90px;
    position: relative;
    button, a {
      margin: 0;
    }
    .btn-top {
      position: absolute;
      left: 33.3%;
      top: 2%;
    }
    .btn-bottom {
      position: absolute;
      left: 33.3%;
      bottom: 0%;
    }
    .btn-right {
      position: absolute;
      right: 0;
      bottom: 33%;
    }
    .btn-left {
      position: absolute;
      left: 0;
      bottom: 33%;
    }
    button, a {
      display: block;
      float: left;
    }
  }
}

@media (max-width: 696px) {
  .raw-day, .kw {
    width: 100%;
  }
}

@media (min-width: $screen-lg-min) {
  .container {
    width: 100%;
  }
}

@media (min-width: $screen-sm-min) {
  .container {
    width: 100%;
  }
  #guestForm {
    max-height: 375px;
  }
}

@media (max-width: $screen-sm-min) {
  #guestForm {
    max-height: 375px;
  }
}

@media (max-width: $screen-md) {
  .clear-nav-entry {
    clear: both;
  }
  .calday {
    font-size: 91%;
    .free-bed {
      float: left;
    }
  }
  form {
    .double-line {
      margin-top: 3px;
      margin-bottom: 5px;
    }
    label {
      margin-top: 3px;
    }
  }

}
.close {
    background-color: #F7F7F6 !important;
    border: 2px solid #b7282e !important;
    opacity: 1 !important;
    font-size: 14px !important;
    line-height: 1.428571429 !important;
    padding: 6px 12px !important;
}
.modal-header {
    .close {
        border: none !important;
        font-size: 22px !important;
    }
}
.bx-wrapper, .bx-viewport {
  height: 450px !important;
}

.stay_tuned {
  text-align: center;
}

.hundertpro {
  width: 100% !important;
}

.table-head tr {
  position: absolute;
  top: -10px;
  left: 0;
  z-index: 3;
  th {
    background: black;
  }
}

#spacer {
  height: 5px;
  clear: both;
  float: none;
  position: relative;
}

.legends {
  list-style-type: none;
  font-size: 16px;
  li {
    line-height: 16px;
  }
}

.smile {
  display: inline;
  height: 50px;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.control-group {
  border: 1px solid red;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;

}

.new {
  border: 1px solid red;
}

#loadergif {
    width: 50px;
    display: block;
    margin: 40vh auto;
}
.btn-link-style {
    color: #fff;
    font-weight: normal;
    font-size: 1.1em;
    width: 100%;
    height: 55px;
    display: inline-block;
    padding: 18px;
    border: none;
    text-align: left;
    background: transparent;
    &:hover, &:active, &:focus {
        background-color: #b7282e !important;
        padding: 18px 18px;
    }
}
#loading {
    position: fixed;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    z-index: 100000;
    display: none;
    font-weight: bold;
    text-align: center;
    width: 50px;
    height: 50px;
    background-color: transparent;
    color: #b7282e;
}

#wrap > .container {
    margin-left: 55px;
    width: calc(100% - 55px);
}

.modal {
  z-index: 10001;
}

li.lang_active {
  background-color: $brand-primary;
  color: #f7f7f7;
}

li.lang_active > a {
  color: #f7f7f7;
}

.break-it {
  border-top: 1px solid $brand-primary;
  clear: both;
}

.break {
  clear: both;
  float: none;
}

#show-tests {
  margin-top: 50px;
}

#message-wrap {
  width: 100%;
  position: fixed;
  top: 22%;
  z-index: 10000;
  #message {
    width: 50%;
    margin: auto;
    ul {
      list-style-type: none;
      li {
        h3 {
          margin-bottom: 20px;
          text-align: center;
          .glyphicon-warning-sign {
            padding-right: 1.2em;
          }
        }
      }
    }
  }
}

#footer {
  width: 100%;
  height: 38px;
  font-size: 0.85em;
  background-color: #333;
  z-index: 1001;
  position: fixed;
  bottom: 20px;
  border-top: 1px solid #fff;
  .btn-small {
    background: transparent;
    font-weight: normal;
      color: white;
      &:hover {
          background-color: $brand-danger;
      }
      &:focus {
          background-color: $brand-danger;
      }
  }
  .btn-group {
    float: right;
    color: #000000;
  }
}
#sub-footer {
    background-color: transparent;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    .container {
        div {
            text-align: center;
        }
    }
}
.text-muted {
  float: left;
  margin: 10px 0 6px 0;
    color: #fff;
    a {
    color: #fff;
  }
}

.navbar-brand {
  padding: 3px 15px;
  img {
    height: 47px;
  }
}

[data-toggle="dropdown"] {
  width: auto;
}

[role="menu"] :after {
  float: none;
  clear: both;
}

.text-muted:before {
  padding-left: 0.5em;
  content: ' | ';
}

.text-muted:nth-of-type(1):before {
  content: '';
}

.dropdown-menu {
  z-index: 100000;
  margin-bottom: 15px;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  background: $breadcrumb-active-color;
}

div:not(.main-nav-container) > li.dropdown-toggle:hover > ul.dropdown-menu {
  display: block;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: $brand-danger;
}

.panel-warning {
}

.panel-warning > .panel-heading {
  background-color: $brand-primary;
}

.panel-info > .panel-heading {
  background-color: $brand-info;
  border-color: darken($brand-info, 0.5);
}

.popover {
  width: 96%;
  left: 0px !important;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}

.popover.bottom > .arrow {
  display: none;
}

.overhead {
  overflow-y: scroll;
  max-height: 45px;
}

.user-avatar {
  display: none;
}

td[id^="user_avatar_"] {
  cursor: pointer;
}

.avatar {
  width: 125px;
  height: 125px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}


.header {
  display: table-cell;
  padding-left: 8px;
  cursor: pointer;
  background-position: 100% 16% !important;
  z-index: 2 !important;
}

.headerSortUp :after {
  content: 'desc';
}

.headerSortDown :after {
  content: 'asc';
}

.table > thead > tr > th {
  padding: 8px;
    border: none;
}

.table > tbody > tr > td {
  padding: 8px;
  font-size: 12px;
  font-weight: normal;
    border: none;
}

table {
  thead {
    tr {
      .fon-header {
        min-width: 125px;
      }
    }
  }
  .date-header {
    min-width: 73px;
  }
  #user td {
    border-right: 1px solid #ddd;
    cursor: pointer;
  }
  [id^="deleteRole_"] span {
    cursor: pointer;
  }

}

.table-myheight {
  height: 534px;
}

.table-inside {
  max-height: 100px;
  overflow-y: auto;
    margin: 0.5em 0;
    border: 1px solid #cbcbcb;
    table {
        margin: 0 !important;
    }
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.messagebox {
  display: inline;
}

.checklist > tbody > tr > td {
  font-size: 16px !important;
}

.list-inline > li {
  display: block;
}
.vertical{
  writing-mode: vertical-rl;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform: rotate(-90deg);
  white-space:nowrap;
  display:block;
  bottom:0;
  width:20px;
  height:20px;
}
.tooltip {
    .tooltip-inner {
        border: .13333em solid $brand-danger !important;
        box-shadow: 0 0 5px rgba(183, 40, 46, 0.4) !important;
        background-color: #ffffff;
        color: $brand-danger;
        font-size: 1.25em;
        width: 11vw;
    }
    .tooltip-arrow {
        border-top-color: $brand-danger;
    }
}
.pagination {
    li {
        a:hover, a:focus, span:hover, span:focus {
            background-color: $brand-danger;
            border-color: $brand-danger;
            color: #fff !important;
        }
        a.page-link:hover, a.page-link:focus {
            background-color: #fff;
            border-color: $brand-danger;
            color: $brand-danger !important;
        }
    }
    .paginate_button {
        a {
            color: $brand-danger;
        }
    }
    .active {
        a, a:hover, a:focus, span, span:hover, span:focus {
            background-color: $brand-danger;
            border-color: $brand-danger;
            color: #fff;
        }
    }
}
.dataTables_wrapper {
    margin: 1em 0;
    border: 1px solid #000;
    padding: 0.25em;
}
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
    font-family: "Font Awesome 5 Free" !important;
    content: "\f0dd" !important;
    color: $brand-danger !important;
    font-size: 125% !important;
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    font-family: "Font Awesome 5 Free" !important;
    content: "\f0de" !important;
    color: $brand-danger !important;
    font-size: 125% !important;
}
table.dataTable {
    tbody {
        tr.odd {
            background-color: #9a9a9a5e;
        }
    }
}
