@import "incl/bootstrap-variables";
@import "incl/vars";
@import "incl/mixins";
.freeB {
    font-size: 12px;
    display: inline-block !important;
    border: 1px solid green !important;
    width: 21px !important;
    height: 21px !important;
    line-height: 21px !important;
    border-radius: 50% !important;
    color: white !important;
    background: green !important;
    float: none !important;
}
.occB {
    font-size: 12px;
    display: inline-block !important;
    border: 1px solid red !important;
    width: 21px !important;
    height: 21px !important;
    line-height: 21px !important;
    border-radius: 50% !important;
    color: white !important;
    background: red !important;
    float: none !important;
}
.title-res {
    background-color: #fff;
    padding-left: 0;
    h1 {
        border: none;
    }
}
#new_reservation, #edit_reservation, #table_all_reservations_wrapper, #table_all_reservations {
    .row {
        margin-left: 0;
        margin-right: 2px;
    }
}
[name="table_all_reservations_length"] {
    height: 2.55em !important;
}
.noClick {
    pointer-events: none;
}
.giveFocus {
    border-color: #b7282e !important;
    box-shadow: 0 0 5px rgba(183, 40, 46, 0.4) !important;
}
.form-control, .input-group-addon, button:not(.navbar-toggle), input[readonly] {
  height: 2.55em;
  border: .13333em solid #b7b7b7;
  border-radius: .13333em;
}
.form-control[readonly] {
  cursor: pointer;
}
.cal-unit-container {
  margin-top: 1px;
  width: 100%;
  height: 6.5vh;
  font-size: 2em;
}
.GU-solid, .WO-solid {
  padding: 0.6vh;
  font-size: 1.75vh;
}
.GU-solid {
  background-color: rgba(0, 0, 225, 0.5);
}
.WO-solid {
  background-color: rgba(255, 40, 0, 0.5);
}
.WO-datepicker-content {
    background: rgba(255, 40, 0, 0.18) !important;
    border-radius: 0 !important;
}
.WO-datepicker-end {
    border-radius: 0 !important;
    background: linear-gradient(to right bottom, rgba(255, 40, 0, 0.18) 50%, rgba(0, 0, 225, 0.18) 50%) !important;
}
.GU-datepicker-end {
    border-radius: 0 !important;
    background: linear-gradient(to left top, rgba(255, 40, 0, 0.18) 50%, rgba(0, 0, 225, 0.18) 50%) !important;
}
.GU-datepicker-content {
    background: rgba(0, 0, 225, 0.18) !important;
    border-radius: 0 !important;
}
.WO-datepicker-title {
    color: rgba(255, 40, 0, 0.5) !important;
}
.GU-datepicker-title {
    color: rgba(0, 0, 225, 0.5) !important;
}
#total_res {
    font-size: 1.25em;
    margin: 5px 0;
    padding: .1333em .43333em;
    display: block;
    border: 1px solid transparent;
    border-radius: 4px;
    position: initial;
    span {
        padding: 0;
    }
}
#resButtons {
    width: 100%;
    padding: 0.5em 0;
    background: white;
    button {
        width: 100%;
    }
}
.show_reservation_guest {
  margin: 0;
  font-size: 1.2em;
  padding: .1333em .43333em;
  span, input, select, button {
    font-size: 1.2em;
    padding: .1333em .43333em;
  }
}
#guest_entries {
    max-height: 62vh;
    overflow-x: hidden;
    overflow-y: auto;
}
[id^="remove_guest_"], [id^="clone_guest"] {
    font-size: 1em;
    display: inline !important;
    border: none !important;
    float: right;
}
.show_reservation {
  margin: 0;
  font-size: 1.2em;
  padding: .1333em .43333em;
  span, input, select, button {
    font-size: 1.2em;
    padding: .1333em .43333em;
  }
}
.v3-disabled {
  cursor: not-allowed !important;
  background-color: #eeeeee;
  opacity: 1;
}
.btn-v3 {
  background-color: white;
  height: 2em;
  border: .13333em solid #b7b7b7;
  border-radius: .13333em;
  color: black;
  display: block;
  &:disabled {
    background-color: transparent;
    border: .13333em solid #b7b7b7;
    cursor: not-allowed;
    pointer-events: all;
    color: #b7b7b7;
  }
  &:hover {
    background-color: transparent !important;
    color: $brand-danger;
    border: .13333em solid $brand-danger;
  }
}
label {
  white-space: normal;
  min-height: 0;
  vertical-align: bottom;
}
.show_total_res {
  border: .13333em solid #b7b7b7;
  border-radius: .13333em;
  padding: 2vh 0.36667em 0 0;
  margin-bottom: 0.5em;
  position: relative;
}
[id^="total_guest_"] {
    font-size: 1.25em;
    margin: 5px 0;
    padding: .1333em .43333em;
    display: block;
    border: 1px solid transparent;
    border-radius: 4px;
    position: initial;
}
.collapse-res {
  position: absolute;
  bottom: -2%;
  width: 100%;
  text-align: center;
  font-size: 32px;
  i {
    cursor: pointer;
  }
}
.bootstrap-datetimepicker-widget {
  table td.disabled, table td.disabled:hover {
    color: $brand-danger;
  }
}
.btn {
  &:focus, &:active:focus, .active:focus {
    outline: none;
  }
}
[id^="guests_date_"] {
  border: 1px solid #b7b7b7;
  position: relative;
    margin: 2vh 2px 0.5em 0;
}
.hide-guest {
    display: block;
    position: relative;
    top: -13px;
    left: 4px;
    height: 39px;
    padding: 0px 9px;
    margin: 1px;
    background-color: white;
    font-size: 1.2em;
    cursor: pointer;
    font-weight: bold;
    span {
    display: inline-block;
  }
    #res_header_text {
        display: inline-block;
    }
}
[id^="hider_"] {
  cursor: pointer;
    font-size: 1.2em;
}
[id^="hide_guest_"], #hide_res {
  display: inline;
  text-align: right;
  border: none;
  padding: 0 0.1em 0 0;
  margin: 0;
  height: 1em;
  vertical-align: sub;
  background-color: transparent;
  font-size: 2em;
  color: $brand-danger;
  cursor: pointer;
  &:hover, &:focus, &:active {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    color: $brand-danger;
  }
}
[id^="guest_title_"] {
  font-weight: bold;
}
.sort-down {
  position: absolute;
  top: -5px;
  right: -9px;
}
#show-all-free-beds {
    padding-top: 30px;
    padding-bottom: 12px;
}
#timeliner-container {
    #timeliner-div {
        background-color: #fff;
        #show-timeliner {
            color: #b7282e;
            &:hover, &:active, &:focus, &:focus-within {
                .hideContent {
                    top: 6px;
                    left: 12px;
                    visibility:visible;
                    opacity:1;
                }
            }
            &:focus, &:focus-within {
                i:after {
                    content: "\f077";
                    padding-left: 8px;
                }

            }
        }
    }
}
.showContent {
    top: 6px !important;
    left: 12px !important;
    visibility:visible !important;
    opacity:1 !important;
}

#free_beds {
    z-index: 10000;
    li {
        background-color: #fff;
        a {
            color: #b7282e;
        }
    }
    #show-all-free-beds {
        &:hover, &:active, &:focus, &:focus-within {
            .hideContent {
                top: 6px;
                left: 12px;
                visibility:visible;
                opacity:1;
            }
        }
    }
    #free-beds-title {
        background-color: #b7282e !important;
        color: white !important;
        padding: 0.25em 0.5em;
        font-size: 1.2em;
        right: 66px;
        width: 113px;
    }
    .close-icon {
        color: $brand-danger;
        padding: 0.25em 0.5em;
        cursor: pointer;
    }
}
#all-free-beds {
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    list-style-type: none;
    padding: 1em;
    font-size: 1.2em;
    color: #333;
    [id^="free-beds_"] {
        padding: 0.25em 0.5em;
        display: block;
        &:after {
            content: "";
        }
    }
}

.tooMuchBeds {
    color: #b7282e;
    font-weight: bold;
    background-color: #f7f7f7;
}

#reservationInfo {
    font-size: 1.2em;
    font-weight: bold;
}
#timeliner-container {
    #timeliner-div {
        a {
            padding-top: 30px;
            padding-bottom: 12px;
        }
    }
    #timeliner {
        max-height: 350px;
        overflow: auto;
        top: 72px;
        bottom: inherit;
        position: absolute;
        border-radius: 0;
        background-color: #fff;
        width: 142px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}
.datepicker {
    table {
        tr {
            td.disabled {
                cursor: not-allowed !important;
                div {
                    opacity: 0.5;
                    span {
                        cursor: not-allowed !important;
                    }
                }
            }
            td.today {
                color: #000;
                background-color: #ffdb99 !important;
                border-color: #ffb733 !important;
            }
            td.active {
                background-color: #337ab7 !important;
                border-color: #2e6da4 !important;
            }
            td.range-start {
                border: 1px solid #b7282e !important;
                border-right: none !important;
            }
            td.range-end {
                border: 1px solid #b7282e !important;
                border-left: none !important;
                color: inherit !important;
            }
            td.range {
                border: 1px solid #b7282e !important;
                border-right: none !important;
                border-left: none !important;
            }
            td.myRes {
                background: rgba(0, 0, 0, 0.28) !important;
                color: #000000;
            }
            th, td {
              //  width: 55px !important;
              //  height: 40px !important;
                hr {
                    margin-top: 0;
                    margin-bottom: 0;
                    border: 0;
                    border-top: 1px solid #33333369;
                }
            }
        }
    }
}
.jquery-hover-a {
    background-color: #b7282e !important;
    color: white !important;
}
@media screen and (max-width: 425px) {

    #guest_entries {
        max-height: 42vh;
    }
}
