.total {
  color: #df7015 !important;
  width: 8%;
}
.paid {
  color: #169227 !important;
}
.unpaid {
  color: #922825 !important;
}
hr{
  margin-bottom: 0;
  margin-top: 0;
}
.table {
  background-color: white !important;
  color: #000000 !important;
  margin: 10px 0 !important;
}
.guests {
  width: 100%;
  text-align: left;
  margin: 0;
}
#datatable-short tbody tr td:first-child, .datatable-shorty tbody tr td:first-child {
    width: 1%;
  }
  #data-total-short, [id^="data-total-short_"], .datatable-shorty, #data-short {
    .total {
      color: #df7015 !important;
      width: 8%;
    }
    .paid {
      color: #169227 !important;
    }
    .unpaid {
      color: #922825 !important;
    }
    .roty {/* Safari */
      -webkit-transform: rotate(-90deg);

      /* Firefox */
      -moz-transform: rotate(-90deg);

      /* IE */
      -ms-transform: rotate(-90deg);

      /* Opera */
      -o-transform: rotate(-90deg);

      /* Internet Explorer */
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

    }
  }

  .stats_select {
    padding: 6px;
    .label {
      font-size: 16px;
    }
  }
  .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-retroorange,
  .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-retroorange {
    background: #b7282e;
    color: white;
    font-weight: bold;
  }
  #choose_stats, .modal-dialog {
    display: block;
    ul {
      li {
        display: inline;
        padding: 3px;
      }
      li:after {
        content: "\00a0\00a0|";
      }
      li:last-child:after {
        content: "";
      }
    }
  }
  #footer {
    .container {
      .btn-group {
        display: block;
      }
    }
  }
  .pagebreak {
    background-color: #18130c; border: none;
  }
#menu_stats {
  z-index: 1000;
  background: #fff;
  width: 100%;
  left: 0;
  /* margin: 4% 4% 0 4%; */
  padding: 0 4%;
}
#mPDF_Print {
  margin-top: 1em;

}
.highcharts-container {
  border: 1px solid #333;
}
