.alert {
  position: fixed;
  width: 100%;
  top: 77px;
  z-index: 10000;
  left: 0;
  border: navajowhite;
  border-radius: 0;
  font-size: 1.5em; }
  .alert button {
    height: inherit !important;
    border: none !important; }
    .alert button span {
      font-size: 1.5em; }

.noClick {
  pointer-events: none; }

.giveFocus {
  border-color: #b7282e !important;
  box-shadow: 0 0 5px rgba(183, 40, 46, 0.4) !important; }

.form-control, .input-group-addon, button:not(.navbar-toggle), input[readonly] {
  height: 2.05em;
  border: .13333em solid #b7b7b7;
  border-radius: .13333em; }

.form-control[readonly] {
  cursor: pointer; }

.cal-unit-container {
  margin-top: 4px;
  width: 100%;
  height: 6.5vh;
  font-size: 2em; }

.GU-solid, .WO-solid {
  padding: 0.6vh;
  font-size: 1.75vh; }

.GU-solid:hover {
  background-color: rgba(0, 0, 225, 0.5); }

.WO-solid:hover {
  background-color: rgba(255, 40, 0, 0.5); }

.WO-datepicker-content {
  background: rgba(255, 40, 0, 0.18) !important;
  border-radius: 0 !important; }

.WO-datepicker-end {
  border-radius: 0 !important;
  background: linear-gradient(to right bottom, rgba(255, 40, 0, 0.18) 50%, rgba(0, 0, 225, 0.18) 50%) !important; }

.GU-datepicker-end {
  border-radius: 0 !important;
  background: linear-gradient(to left top, rgba(255, 40, 0, 0.18) 50%, rgba(0, 0, 225, 0.18) 50%) !important; }

.GU-datepicker-content {
  background: rgba(0, 0, 225, 0.18) !important;
  border-radius: 0 !important; }

.WO-datepicker-title {
  color: rgba(255, 40, 0, 0.5) !important; }

.GU-datepicker-title {
  color: rgba(0, 0, 225, 0.5) !important; }

#total_res {
  font-size: 1.1em;
  margin: 5px 0;
  padding: .1333em .43333em;
  display: block;
  border: 1px solid transparent;
  border-radius: 4px;
  position: initial; }
  #total_res span {
    padding: 0; }

.show_reservation_guest {
  margin: 0;
  font-size: 1.2em;
  padding: .1333em .43333em; }
  .show_reservation_guest span, .show_reservation_guest input, .show_reservation_guest select, .show_reservation_guest button {
    font-size: 1.2em;
    padding: .1333em .43333em; }

[id^="remove_guest_"] {
  font-size: 1em;
  display: inline !important;
  border: none !important;
  float: right; }

.show_reservation {
  margin: 0;
  font-size: 1.2em;
  padding: .1333em .43333em; }
  .show_reservation span, .show_reservation input, .show_reservation select, .show_reservation button {
    font-size: 1.2em;
    padding: .1333em .43333em; }

.v3-disabled {
  cursor: not-allowed !important;
  background-color: #eeeeee;
  opacity: 1; }

.btn-v3 {
  background-color: white;
  height: 2em;
  border: .13333em solid #b7b7b7;
  border-radius: .13333em;
  color: black;
  display: block; }
  .btn-v3:disabled {
    background-color: transparent;
    border: .13333em solid #b7b7b7;
    cursor: not-allowed;
    pointer-events: all;
    color: #b7b7b7; }
  .btn-v3:hover {
    background-color: transparent !important;
    color: #b7282e;
    border: 0.13333em solid #b7282e; }

label {
  white-space: normal;
  min-height: 0;
  vertical-align: bottom; }

.show_total_res {
  border: .13333em solid #b7b7b7;
  border-radius: .13333em;
  padding: 2vh 0.36667em 0 0;
  margin-bottom: 0.5em;
  position: relative; }

[id^="total_guest_"] {
  font-size: 1.1em;
  margin: 5px 0;
  padding: .1333em .43333em;
  display: block;
  border: 1px solid transparent;
  border-radius: 4px;
  position: initial; }

.collapse-res {
  position: absolute;
  bottom: -2%;
  width: 100%;
  text-align: center;
  font-size: 32px; }
  .collapse-res i {
    cursor: pointer; }

.bootstrap-datetimepicker-widget table td.disabled, .bootstrap-datetimepicker-widget table td.disabled:hover {
  color: #b7282e; }

.btn:focus, .btn:active:focus, .btn .active:focus {
  outline: none; }

[id^="guests_date_"] {
  border: 1px solid #b7b7b7;
  margin-top: 2vh;
  position: relative;
  margin-bottom: 0.5em; }

.hide-guest {
  display: block;
  position: relative;
  top: -15px;
  left: 4px;
  height: 39px;
  padding: 0px 9px;
  margin: 1px;
  background-color: white;
  font-size: 1.2em;
  cursor: pointer;
  font-weight: bold; }
  .hide-guest span {
    display: inline-block; }
  .hide-guest #res_header_text {
    display: inline-block; }

[id^="hider_"] {
  cursor: pointer;
  font-size: 1.2em; }

[id^="hide_guest_"], #hide_res {
  display: inline;
  text-align: right;
  border: none;
  padding: 0 0.1em 0 0;
  margin: 0;
  height: 1em;
  vertical-align: sub;
  background-color: transparent;
  font-size: 2em;
  color: #b7282e;
  cursor: pointer; }
  [id^="hide_guest_"]:hover, [id^="hide_guest_"]:focus, [id^="hide_guest_"]:active, #hide_res:hover, #hide_res:focus, #hide_res:active {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    color: #b7282e; }

[id^="guest_title_"] {
  font-weight: bold; }

.sort-down {
  position: absolute;
  top: -5px;
  right: -9px; }

#all-free-beds-container {
  position: fixed;
  bottom: 58px;
  right: 8.7vw;
  display: none;
  z-index: 1000; }
  #all-free-beds-container #free-beds-title {
    position: absolute;
    transform: rotate(-90deg);
    top: 15vh;
    left: auto;
    background-color: #b7282e !important;
    color: white !important;
    padding: 0.25em 0.5em;
    font-size: 1.2em;
    right: 66px;
    width: 113px; }
  #all-free-beds-container .close-icon {
    color: #b7282e;
    padding: 0.25em 0.5em;
    cursor: pointer; }
  #all-free-beds-container #all-free-beds {
    max-height: 350px;
    overflow: auto;
    display: block;
    background-color: #333;
    color: white; }
    #all-free-beds-container #all-free-beds [id^="free-beds_"] {
      padding: 0.25em 0.5em; }
    #all-free-beds-container #all-free-beds .tooMuchBeds {
      color: #b7282e;
      font-weight: bold;
      background-color: #f7f7f7; }

#reservationInfo {
  padding: 0 0 0.25em 0; }

#timeliner {
  max-height: 350px;
  overflow: auto; }

.datepicker table tr td.disabled {
  cursor: not-allowed !important; }
.datepicker table tr td.today {
  color: #000;
  background-color: #ffdb99 !important;
  border-color: #ffb733 !important; }
.datepicker table tr td.active {
  background-color: #337ab7 !important;
  border-color: #2e6da4 !important; }

.jquery-hover-a {
  background-color: #b7282e !important;
  color: white !important; }

/*# sourceMappingURL=new_reservation.css.map */
