@import "bootstrap-variables";
[id^="all_reservations_"] {
  border: 1px solid $brand-danger;
  padding: 23px;
}
.show_total_res {
  border: .13333em solid #b7b7b7;
  border-radius: .13333em;
  padding: 2vh 0.36667em 0 0;
  margin-bottom: 0.5em;
  position: relative;
}

[id^="hide_guest_"], [id^="hide_res"] {
  display: inline;
  text-align: right;
  border: none;
  padding: 0 0.5em 0 0;
  margin: 0;
  height: 1em;
  vertical-align: sub;
  background-color: transparent;
  font-size: 2em;
  color: $brand-danger;
  cursor: pointer;
  &:hover, &:focus, &:active {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    color: $brand-danger;
  }
}
[id^="guests_date_"] {
  border: 1px solid #b7b7b7;
  margin-top: 2vh;
  position: relative;
}

.hide-guest {
  display: inline-block;
  position: absolute;
  top: -15px;
  left: 10px;
  height: 27px;
  padding: 0px 9px;
  margin: 1px;
  background-color: white;
  font-size: 1.1em;
  cursor: pointer;
  font-weight: bold;
  span {
    display: inline-block;
  }

}
