@import "bootstrap-variables";
@import "vars";
.navbar-default {
  font-weight: bold;
  .navbar-nav>.active>a, .navbar-nav>.active>a:hover {
    background-color: $color-h1;
    color: white;
  }
  .navbar-nav>li>a {
    color: #777;
  }
  .navbar-nav>li>a:hover {
    background-color: $color-h1;
    color: white;
  }

}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: $color-h1;
  color: white;
}
.dropdown-menu>li>a {
  color: #777;
}
.dropdown-menu>li>a:hover {
  background-color: $color-h1;
}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 1001;
  border-radius: 0px;
  border-bottom: 1px solid $color-h1;
}
