@import "bootstrap-variables";
@import "vars";
i {
    min-width: 19.25px;
}

#footer {
    .container {
        .navbar-fixed-bottom {
            border-bottom: none;
        }
        nav.navbar {
            position: absolute;
            top: 0;
            height: 39px;
            min-height: 1px !important;
            li {
                a {
                    color: #f7f7f7;
                    padding-top: 9px;
                    padding-bottom: 9px;
                    font-weight: normal;
                    font-size: 1.2em;
                    &:hover, &:focus, &:active {
                        background-color: #b7282e !important;
                        color: white !important;
                    }
                }
                ul {
                    li {
                        a {
                            font-size: 1em;
                        }
                    }
                }
                &.open {
                    a {
                        color: white !important;
                    }
                }
            }
        }
    }
}
#footerNav {
    position: absolute;
    bottom: 20px;
    width: 100%;
    ul {
        li.dropup {
            ul.dropdown-menu {
                position: absolute;
            }
        }
    }
}
.nav-clan {
    background-color: #fff !important;
    &:hover {
        background-color: #fff !important;
        color: white;
    }
}

.navbar-default {
  font-weight: bold;
  .navbar-nav>.active>a, .navbar-nav>.active>a:hover, .navbar-nav>.active>a:focus {
    background-color: $color-h1 !important;
    color: white !important;
  }
    .navbar-nav {
        float: none !important;
        background: #333;
        padding-bottom: 0;
        padding-top: 0;
    }
  .navbar-nav>li {
      float: none !important;
  }
  .navbar-nav>li>a {
    color: #f7f7f7;
      font-weight: normal;
      font-size: 1.1em;
      width: 100%;
      height: 55px;
      display: inline-block;
      .hideContent {
          position: absolute;
          top: 18px;
          left: -72px;
          display: inline;
          visibility:hidden;
          white-space: nowrap;
          opacity:0;
          transition: left 0.3s linear,opacity 0.3s linear;
      }
    padding: 18px;
  }
  .navbar-nav>li>a:hover, .navbar-nav>li>a:focus, .navbar-nav>li>a:active {
    background-color: $color-h1 !important;
    color: white !important;
      padding: 18px 18px;
  }
  .navbar-nav>li>a:not([href]):hover, .navbar-nav>li>a:not([href]):focus, .navbar-nav>li>a:not([href]):active {
    background-color: #333 !important;
    color: white !important;
  }

}
.navbar-toggle {
  background-color: $brand-danger;
  padding: 8px 10px;
    margin-top: 12px;
}
.icon-bar {
  background-color: white !important;
}
.navbar-brand {
    margin: 0.5em 0 0.5em -12px !important;
    padding: 16px 21px !important;
    width: 100%;
    font-family: Palazzin, "Helvetica Neue", Helvetica, Arial, sans-serif;
    a {
        color: #f7f7f7 !important;
        font-weight: normal;
        font-size: 3em;
        .hideBrandContent {
            visibility:hidden;
            white-space: nowrap;
            opacity:0;
            transition: left 0.3s linear,opacity 0.3s linear;
        }
        &:hover {
            text-decoration: none !important;
        }
    }
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: $color-h1;
  color: #333;
}
.navbar {
    position: fixed;
    width: 55px;
    height: 100%;
    z-index: 1001;
    border-radius: 0px;
    border-bottom: 1px solid white;
    background-color: #333;
    min-height: 58px !important;
    border-left: none;
    border-right: none;
    .container-fluid {
        padding-left: 0;
        padding-right: 0;
        .navbar-collapse {
            padding-left: 0;
            padding-right: 0;
        }
    }
}
.navbar-header {
    width: 55px;
    margin-bottom: 1em;
    z-index: 11;
    border-bottom: 1px solid #f7f7f7;
}
#bottom-nav {
    li {
        a {
            padding-left: 12px;
        }
    }
}
#all-nav {
    width: 55px;
    opacity: 0.75;
    transition: width 1s;
    #main-nav, #bottom-nav, #bottom-bottom-nav {
        .fa-thermometer-half:after, .fa-cog:after , .fa-user:after {
            content: "\f078";
            padding-left: 8px;
        }
    }
}
#all-nav:hover {
    width: 222px;
    opacity: 1;
    transition: width 1s;
    #main-nav, #bottom-nav, #bottom-bottom-nav {
        li {
            a {
                .hideContent {
                    top: 18px;
                    left: 52px;
                    visibility:visible;
                    opacity:1;
                }
            }
        }
    }
    .navbar-header {
        width: 222px;
    }
    .navbar-brand {
        a {
            .hideBrandContent {
                visibility: visible;
                white-space: nowrap;
                opacity:1;
                &:after {
                    content: "alazzin"
                }
            }
        }
    }
}

